defusedxml==0.6.0
Django==2.2.21
django-rosetta==0.9.3
django-tastypie==0.14.3
django-userforeignkey==0.3.0
jsonfield==2.0.2
lxml==4.6.3
python-dateutil==2.8.1
python-mimeparse==1.6.0
requests==2.22.0
urllib3==1.26.5
mysqlclient==1.4.6