a.site-title {
    color: #fff;
    font-size: 20px;
}
.menu-dd {
    left: -100px !important;
    width: auto !important;
    padding: 5px 0 !important;
}
.menu-dd a {
    margin: 0 !important;
    padding: 15px;
}
.menu-dd a:hover {
    background: #F6F8FA;
}
