{% extends "admin/base.html" %}
{% load i18n %}

{% block extrastyle %}
    {{ block.super }}
    <style type="text/css">
        .questions-list {
            margin-left: 160px;
        }
    </style>
{% endblock %}

{% block title %}{{ title }} | {% trans 'Impact Measurement'|upper %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Impact Measurement'|upper %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block userlinks %}
    <a href="{% url 'rosetta-old-home-redirect' %}">{% trans "Translations" %}</a> /
    {{ block.super }}
{% endblock %}

{% block footer %}
    {{ block.super }}
    <script type="text/javascript">
        var qo_form = document.getElementById("questionsordering_form");
        var so_form = document.getElementById("surveyordering_form");

        if ( qo_form || so_form ) {
            (function($) {
                'use strict';
                $("#id_site, #id_page").change(function () {
                    var level;
                    var url = '{% url 'ajax_load_questions' %}'; // get the url of the `load_questions` view
                    var site = $("#id_site").val(); // get the selected site ID from the HTML input
                    var page = $("#id_page").val(); // get the selected page ID from the HTML input

                    // set the questions level
                    if ( $( "#questionsordering_form" ).length ) { level = 1; }
                    if ( $( "#surveyordering_form" ).length ) { level = 2; }


                    if (site && page && level) {
                        $.ajax({ // initialize an AJAX request
                            url: url, // set the url of the request
                            data: {
                                'level': level, // add the questions level to the GET parameters
                                'site': site,   // add the site id to the GET parameters
                                'page': page,   // add the page id to the GET parameters
                            },
                            success: function (data) { // `data` is the return of the `load_questions` view function
                                $(".questions-list").remove();
                                $("#id_order").parent().append(data); // display the contents of the questions with the data that came from the server
                            }
                        });
                    } else {
                        $(".questions-list").remove();                  
                    }
                });
            })(django.jQuery);
        }
    </script>
{% endblock %}
