<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block extrajs %}
    {% if user.is_authenticated %}
        <script>window.location = "{% url 'dashboard' %}"</script>
    {% endif %}
{% endblock %}

{% block body %}{% endblock %}

{% block content %}
    <h1 class="form-heading">{% trans "Login Form" %}</h1>
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>{% trans "Login" %}</h2>
                <p>{% trans "Impact Measurement" %}</p>
            </div>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{% url 'dashboard' %}" />
                {% if form.non_field_errors %}
                    <div class="alert alert-danger alert-error" role="alert">
                        {{ form.non_field_errors.as_text  }}
                    </div>
                {% endif %}
                <div class="form-group">
                    {{ form.username.errors }}
                    <input type="text" class="form-control" name="username" id="id_username" placeholder="{% trans "Email or Username" %}" autofocus required>
                </div>
                <div class="form-group">
                    {{ form.password.errors }}
                    <input type="password" class="form-control" placeholder="{% trans "Password" %}" name="password" id="id_password" required>
                </div>
                <!-- <div class="forgot">
                    <a href="reset.html">{% trans "Forgot password?" %}</a>
                </div> -->
                <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
            </form>
        </div>
        <!-- <p class="bottom-text"> Designed by Sunil Rajput</p> -->
    </div>
{% endblock %}

{% block footer %}{% endblock %}
